@import url(https://fonts.googleapis.com/css?family=Knewave);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,800);
* {
  transition: 0.4s ease;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
}
/* start of shopping cart icon */
.icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 25px;
  }
  
  .icon-cart .cart-line-1 {
    width: 15%;
    height: 7%;
    position: absolute;
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); 
    background-color: #000;
    border-bottom-left-radius: 35%;
  }
  
  .icon-cart .cart-line-2 {
    width: 35%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 40%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg); 
    background-color: #000;
  }
  
  .icon-cart .cart-line-2:before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: -280%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg); 
    background-color: inherit;
  }
  
  .icon-cart .cart-line-2:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    left: 59%;
    top: -670%;
    background-color: inherit;
    transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); 
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
  }
  
  .icon-cart .cart-line-3 {
    width: 30%;
    height: 7%;
    position: absolute;
    left: 33%;
    top: 45%;
    background-color: #000;
  }
  
  .icon-cart .cart-line-3:after {
    content: "";
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
  }
  
  .icon-cart .cart-wheel {
    width: 12%;
    height: 12%;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    bottom: 20%;
  }
  
  .icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
  }
  /* end of shopping cart icon */

  /* V everything above the items V */
#header {
    height: 70%;
    background-color: #A0C7B4;
    background-size: cover;
}
/* container for the items */
section {
    min-height: 100%;
    background-color: #A0C7B4;
}
.logo {
    color: black;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    max-width: 270px;
    font-size: 60px;
    line-height: 50px;
    left: 70px;
    letter-spacing: 2px;
    font-family: "Knewave";
    cursor: pointer;
    transform: rotate(-5deg);
    transition: 0.3s ease, left 0.4s ease z-index 10;
  /* adds the pink shape under name  */
}
.logo::before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 10px;
    width: 120px;
    background-color: rgba(195, 18, 77, 0.7);
  }
.logo:hover {
  transform: rotate(-8deg) scale(1.15);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0.2, 0, 2);
}
.nav-link {
    color: teal !important;
    font-weight: 800;
    font-size:1.3em;
}

    .nav-link.active {
        color: #EAB543 !important;
        font-weight: 500;     
    }
.product-name{
  font-family: "Knewave";
}
.logo:hover {
    transform: translateX(-10%) scale(1.2);
  }
h1 {
	font-family: "Knewave";
	text-transform: uppercase;
}


a p {
	color: black;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	
}
.frame img {
	width: 400px;
	height: 400px;
}
.frame .details {
	width: 50%;
	height: 58%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

/* Hidden and visible element from Bootstrap3.0 */
/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/


.item-drink, .item-food { 
    cursor: pointer;
}

/* hover over entire item div 
.item:hover {
    border: 1px solid rgb(160, 199, 180);
    border-radius: 5px;
    cursor: pointer;
    transition: none;
} */

/* Breakpoint XS */
@media (max-width: 575px) {
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}


/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px) {
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg {
        display: none !important;
    }
}