@import url(https://fonts.googleapis.com/css?family=Knewave);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,800);
* {
  transition: 0.4s ease;
}
html,
body {
    height: 100%;
    
}

#product-page {

  display:block;
}
/* start of shopping cart icon */
.icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
  }
  .icon-cart:hover {
    width: 58px;
    height: 58px;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
  }
  
  
  .icon-cart .cart-line-1 {
    width: 15%;
    height: 7%;
    position: absolute;
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); 
    background-color: #000;
    border-bottom-left-radius: 35%;
  }
  
  .icon-cart .cart-line-2 {
    width: 35%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 40%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg); 
    background-color: #000;
  }
  
  .icon-cart .cart-line-2:before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: -280%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg); 
    background-color: inherit;
  }
  
  .icon-cart .cart-line-2:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    left: 59%;
    top: -670%;
    background-color: inherit;
    transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); 
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
  }
  
  .icon-cart .cart-line-3 {
    width: 30%;
    height: 7%;
    position: absolute;
    left: 33%;
    top: 45%;
    background-color: #000;
  }
  
  .icon-cart .cart-line-3:after {
    content: "";
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
  }
  
  .icon-cart .cart-wheel {
    width: 12%;
    height: 12%;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    bottom: 20%;
  }
  
  .icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
  }
  /* end of shopping cart icon */

  /* V everything above the items V */
#header {
    height: 70%;
    background-color: #A0C7B4;
    background-size: cover;
    position: static;

}
/* container for the items */
section {
    min-height: 100%;
    background-color: #A0C7B4;
}
.logo {
    color: black;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    max-width: 270px;
    font-size: 60px;
    line-height: 50px;
    left: 70px;
    letter-spacing: 2px;
    font-family: "Knewave";
    cursor: pointer;
    transform: rotate(-5deg);
    transition: 0.3s ease, left 0.4s ease z-index 10;
  /* adds the pink shape under name  */
}
.logo::before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 10px;
    width: 120px;
    background-color: rgba(195, 18, 77, 0.7);
  }
.logo:hover {
  transform: rotate(-8deg) scale(1.15);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0.2, 0, 2);
}
.nav-link {
    color: teal !important;
    font-weight: 800;
    font-size:1.3em;
}
.nav-link:hover {
  color: pink !important;
  font-weight: 800;
  font-size:1.3em;
}
.product-name{
  font-family: "Knewave";
}
.logo:hover {
    transform: translateX(-10%) scale(1.2);
  }


a p {
	color: black;
	margin-top: 5px;
	font-family: "raleway";
}

a:hover {
	text-decoration: none;
}

.frame {
	text-align: center;	
	position: sticky;
  padding-top: 120px;
	
}
.frame img {
	width: 800px;
	height: 800px;
}
.frame .details {
	width: 40%;
	height: 18%;	
	position: absolute;
	content: "";
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

/* Hidden and visible element from Bootstrap3.0 */
/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/


.item-drink, .item-food { 
    cursor: pointer;
}

/* Breakpoint XS */
@media (max-width: 575px) {
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}


/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl {
        display: none !important;
    }

    #header {
        background-position: 80% 80%;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px) {
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg {
        display: none !important;
    }
}


#open-close-bttn {
  display:flex;
  justify-content: flex-end;
  color: #aaaaaa;
  height: auto;
  width:100%;
  margin:0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  

}

#open-close-bttn:hover,
#open-close-bttn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#background-shadow {
  display: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

#checkout-inside-box {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 5px;
  margin-top: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}
.pos-checkout-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}

#bill-address-form-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  /* padding-top:25px; */
  padding: 25px 20px 0 20px;
  box-sizing: border-box;
}


#bill-ship-address {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#shipping-add-form-div {

  display: none;
  flex-direction: column;
  padding: 15px;
 
}


#card-inputs-info {
  display: none;

}

#checkout-items {
  display: flex;
  justify-content:center;
  padding: 15px;
  font-size: 30px;
  
  font-family:Knewave;
  background-color: #a0c7b4;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 5px;
}

#subtotal-price {
  display: flex;
  justify-content:center;
  align-items: column;
  background-color: #a0c7b4;
  padding: 15px;
  font-size: 30px;
  width: 100%;
  height: auto;
  
  font-family:Knewave;
  box-sizing: border-box;
  border-radius: 5px;
}

#total-price {
  display:flex;
  align-items:center;
  flex-direction: column;

  font-size: 30px;
  
  font-family:Knewave;
  background-color: #a0c7b4;
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  
}

#credit-card-radio {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left:25px;
}

#paypal-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 25px;
}

#cash {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  width: 100%;
  height: auto;
}

.credit-imgs {
  display: flex;
  height: auto;
  width: 250px;
  padding: 10px;
}

#revise-order-link {
  display: flex;
  justify-content: space-around;
  align-content: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#revise-order-button {
  width: 70%;
  background-color: rgb(0, 128, 128);
  border: none;
  font-size:20px;
  margin-bottom: 20px;
  color:white;
}

h1 {
  text-align: center;
  font-family: Knewave;
}

h2 {
  text-align: center;
  font-family: Knewave;
}

#pay-select-h1 {
  margin: 40px 0 40px 0;
  width: 100%;
  border-bottom: solid 7px rgba(195, 18, 77, 0.7);
}

#checkout-h1 {
  width: 100%;
  border-bottom: solid 7px rgba(195, 18, 77, 0.7);
}

#bill-add-h1 {
  border-bottom: solid 7px rgba(195, 18, 77, 0.7);
  margin: 40px 0 0 0;
}

#ship-add-h1 {
  display:none;

  justify-content: center;
  border-bottom: solid 7px rgba(195, 18, 77, 0.7);
  margin: 40px 0 0 0;
}

#bill-address-radio {

  display:flex;
  flex-direction: column;
  width: 100%;
  padding:10px;
}

#view-receipt-background{
  display:none;
 
  /* z-index:4; */
}

#view-receipt {

   /* display:flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    align-items:center;
    text-align: center;
    background-color: white;
    width:500px;
    height: 700px;
    border: 1px solid black; */
    /* z-index: 5; */
}



@media screen and (min-width: 770px) {
  #checkout-inside-box {
    width: 80%;
    height: auto;
  }

  #view-receipt-background{
    display:none;
    position: absolute;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4; 
  
  }
  
  #view-receipt {
  
    display:flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    align-items:center;
    text-align: center;
    background-color: white;
    width:500px;
    height: 700px;
    border: 1px solid black;
    z-index: 5;
  }
  
  #receipt-items{
  
    display:flex;
    font-family:Knewave;
    width: 100%;
    height:auto;
    /* border: 1px solid black; */
  }
  
  #receipt-total-cost {
    display:flex;
    font-family:Knewave;
    width: 100%;
    height: auto;
    margin-top: 10px;
    /* border: 1px solid black; */
  
  }
  #receipt-text {
  
   display:flex;
   width: 100%;
   height:auto;
   margin-top: 10px;
  }
  
  #receipt-image {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: auto;
    height: auto;
  
  }
  
  #receipt-logo {
  
    width: 200px;
    height: 250px;
  }
  
  #close-receipt {
    display:flex;
    justify-content: flex-end;
    color: #aaaaaa;
    height: auto;
    width:100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    
  
  }
  
  #close-receipt:hover,
  #close-receipt:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

  #payment-bill-add-box {
    display: flex;
    width: 100%;
   
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .pos-payment-info-box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-right:5px;
  }


  #card-inputs-info {
    display: none;

    /* Enter display properties */
  }


  #revise-order-button {
    display: flex;
    width: auto;
    height:auto;
    margin-bottom: 30px;
  }

  #revise-order-link {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
  }

  #billing-add{

    display:flex;
  
    flex-direction: column;
  }

  #bill-add-h1 {
  
    margin-bottom: 0;
  }
  
  #pay-select-h1 {
    margin: 40px 0 20px 0;
    
  }

  #bill-address-form-div {
    
    padding-top:25px;
    padding: 0;
  
  }

  #bill-address-form {

    width: 100%;
    padding:30px;
  }

  #ship-add-h1 {
    
  
    margin: 0 0 0 0;
  }

  #bill-address-radio {
    font-size:15px;
    
  }  
}

.creditCardForm {
  display:flex;
  flex-direction:column;
  /* max-width: 700px; */
  background-color: #fff;
  /* margin: 100px auto; */
  /* overflow: hidden; */
  /* padding: 25px; */
  color: #4c4e56;
}

.creditCardForm label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4c4e56;
}

.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}

.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 10px;
}

.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
  width: 100%;
}

.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}

.creditCardForm .CVV {
  width: 35%;
}

.creditCardForm #card-number-field {
  width: 100%;
}

.creditCardForm #expiration-date {
  width: 49%;
}

.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}

.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}

.creditCardForm .payment .btn  {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: rgb(0, 128, 128);
  color: white;
}

.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}

.transparent {
  opacity: 0.2;
}

#confirm-bill-add-button {

  width: 100%;
  height: 45px;
  font-size: 24px;
  color: white;
  margin-top: 25px;
  background-color: rgb(0, 128, 128);
  border: none;
  border-radius: 5px;
}

#confirm-shipping-add-button {

  width: 100%;
  height: 45px;
  font-size: 24px;
  color: white;
  margin-top: 25px;
  background-color: rgb(0, 128, 128);
  border: none;
  border-radius: 5px;
}

@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}


